<div class="container">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">English</th>
      <th scope="col">Vietnamese</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vocabulary of vocabularies">
      <th scope="row">{{vocabulary.id}}</th>
      <td>{{vocabulary.english}}</td>
      <td>{{vocabulary.vietnamese}}</td>
      <td><button [routerLink]="['/vocabulary/detail', vocabulary.id]" class="btn btn-info">Detail</button></td>
    </tr>
    </tbody>
  </table>
</div>
