<h1>Calculator</h1>
<label>Enter number 1:</label>
<input type="number" #firstNum><br>
<label>Enter number 2:</label>
<input type="number" #secondNum><br>
<button (click)="addition(firstNum.value, secondNum.value)">addition</button>
<button (click)="subtraction(firstNum.value, secondNum.value)">subtraction</button>
<button (click)="multiplication(firstNum.value, secondNum.value)">multiplication</button>
<button (click)="division(firstNum.value, secondNum.value)">division</button>

<p>result: {{result}}</p>

