<input class="result" name="result" type="text">

<table>
    <tr>
      <td><input type="button" class="button" value="7" ></td>
      <td><input type="button" class="button" value="8" ></td>
      <td><input type="button" class="button" value="9" ></td>
      <td><input type="button" class="button" value="/" ></td>
    <tr>
      <td><input type="button" class="button" value="4"></td>
      <td><input type="button" class="button" value="5" ></td>
      <td><input type="button" class="button" value="6" ></td>
      <td><input type="button" class="button" value="*" ></td>
    </tr>
    <tr>
      <td><input type="button" class="button" value="1" ></td>
      <td><input type="button" class="button" value="2" ></td>
      <td><input type="button" class="button" value="3" ></td>
      <td><input type="button" class="button" value="+" ></td>
    </tr>
    <tr>
      <td><input type="button" class="button" value="0" ></td>
      <td><input type="button" class="button" value="00"></td>
      <td><input type="button" class="button" value="." ></td>
      <td><input type="button" class="button" value="-" ></td>
    </tr>
    <tr>
      <td><input type="button" class="button" value="AC" ></td>
      <td><input type="button" class="button" value="&#x21E6;"></td>
      <td colspan='2' ><input type="button" class="button equal" value="="></td>

    </tr>

  </table>
