<div class="container" *ngIf="customers">
  <h1 style="text-align: center">Customer List</h1>
  <div>
<!--    form search    -->
    <form style="width: 400px; float: right" class="d-flex" (ngSubmit)="searchByName(search.value)">
      <input class="form-control me-2" type="search" #search placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button routerLink="/customer/create" class="btn btn-primary">Create</button>
  </div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Identification Card</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <th scope="row">{{customer.id}}</th>
      <td>{{customer.name}}</td>
      <td>{{customer.dateOfBirth}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.customerType.name}}</td>
      <td><button [routerLink]="['/customer/edit', customer.id]" class="btn btn-info">Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>


