<app-header></app-header>
<div class="container">
  <h1 style="text-align: center">Employee List</h1>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Level</th>
      <th scope="col">Division</th>
      <th scope="col">Salary</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Identification Card</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.name}}</td>
      <td *ngIf="employee.positionId == 1">Nhân Viên</td>
      <td *ngIf="employee.positionId == 2">Giám sát</td>
      <td *ngIf="employee.positionId == 3">Quản lý</td>
      <td *ngIf="employee.positionId == 4">Phó giám đốc</td>
      <td *ngIf="employee.positionId == 5">Giám đốc</td>

      <td *ngIf="employee.levelId == 1">Cao Đẳng</td>
      <td *ngIf="employee.levelId == 2">Đại Học</td>
      <td *ngIf="employee.levelId == 3">Thạc Sĩ</td>

      <td *ngIf="employee.divisionId == 1">An ninh</td>
      <td *ngIf="employee.divisionId == 2">Kĩ thuật</td>
      <td *ngIf="employee.divisionId == 3">Marketing</td>

      <td>{{employee.salary}}</td>
      <td>{{employee.dateOfBirth}}</td>
      <td>{{employee.idCard}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.address}}</td>
    </tr>
    </tbody>
  </table>
</div>
