<div class="container">
  <h1 style="text-align: center">Employee List</h1>

  <button routerLink="/employee/create" class="btn btn-primary">Create</button>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Level</th>
      <th scope="col">Division</th>
      <th scope="col">Salary</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Identification Card</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{employee.id}}</th>
      <td>{{employee.name}}</td>
      <td>{{employee.position.name}}</td>
      <td>{{employee.level.name}}</td>
      <td>{{employee.division.name}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.dateOfBirth}}</td>
      <td>{{employee.idCard}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.address}}</td>
    </tr>
    </tbody>
  </table>
</div>
