<div class="container">
  <h1 style="text-align: center">Form Create Customer</h1>
  <form [formGroup]="customerForm" (ngSubmit)="addCustomer()">
<!--    <div class="form-group">-->
<!--      <label >Customer ID</label>-->
<!--      <input type="text" formControlName="id" class="form-control">-->
<!--    </div>-->
    <div class="form-group">
      <label >Customer Type</label>
      <select formControlName="customerType" class="form-select" aria-label="Default select example">
        <option *ngFor="let customerType of customerTypes" [ngValue]="customerType">{{customerType.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label >Customer Name</label>
      <input formControlName="name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label >Date Of Birth</label>
      <input formControlName="dateOfBirth" type="date" class="form-control">
    </div>
    <div class="form-group">
      <label>Identification Card</label>
      <input formControlName="idCard" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input formControlName="phone" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input formControlName="email" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Address</label>
      <input formControlName="address" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
