<p>login works!</p>
<div>
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <label>Email</label><br>
    <input formControlName="email" type="text">
    <span style="color: red" *ngIf="formLogin.controls.email.hasError('required')
    &&formLogin.controls.email.dirty">Vui lòng nhập email</span>
    <span style="color: red" *ngIf="formLogin.controls.email.hasError('email')
    &&formLogin.controls.email.dirty">Email không đúng định dạng</span><br>
    <label>Password</label><br>
    <input type="password" formControlName="password">
    <span style="color: red" *ngIf="formLogin.controls.password.hasError('minlength')
    &&formLogin.controls.email.dirty">Password phải dài hơn 6 kí tự</span><br>
    <input type="submit" value="Login">
  </form>
</div>
